@model MyCinema.DTO.MovieDTO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MovieDTO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MovieId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MovieId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Director)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Director)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Resume)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resume)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoverURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoverURL)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
